---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Blog">
    <h2>Un bon workflow</h2>
    <ul>
        <li><a href="/posts/post-1/">Article 1</a></li>
        <li><a href="/posts/post-2/">Article 2</a></li>
        <li><a href="/posts/post-3/">Article 3</a></li>
    </ul>
</BaseLayout>
