---

---

<div class="hamburger flex flex-col gap-2 cursor-pointer sm:hidden">
    <span class="block w-[40px] h-[5px] bg-amber-500"></span>
    <span class="block w-[40px] h-[5px] bg-amber-500"></span>
    <span class="block w-[40px] h-[5px] bg-amber-500"></span>
</div>
