---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
    <nav>
        <div class="flex align-middle">
            <Hamburger />
            <div class="ml-auto">
                <ThemeIcon />
            </div>
        </div>
        <Navigation />
    </nav>
</header>
